.root-login-form  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paper-form-login {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: auto;
    padding: 18px;
    background-color: white;
    box-shadow: 0 20px 40pt 0 rgba(23,31,53, 0.1);
}

.cell-form {
    display: flex;
    flex-direction: row;
}

.title {
    margin: 38px auto 8px auto;
    font-size: 20pt;
    font-weight: bold;
}

.sub-instruction {
    font-size: 11pt;
    margin: 0 auto 32px auto;
}

.input-field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    font-size: 11pt;
    padding: 12px 2px;
    outline: none;
    margin: 4px 0;
}

.input-field:focus {
    border-bottom: 1px solid #2CA6F3;
}


.forget-link {
    width: 100%;
    font-size: 11pt;
    text-align: right;
}

.masuk {
    font-size: 12pt;
    margin-top: 45px;
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 20px;
    color: white;
    background-color: #2CA6F3;
}


.regis-link {
    margin: 20px auto 35px;
}