.password-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C1C1C1;
    margin: 4px 0;
}


.password-field input {
    width: 100%;
    border: none;
    font-size: 11pt;
    padding: 12px 2px;
    outline: none;
}

.password-field button {
    vertical-align: middle;
    width: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

