.table-container {
    margin: 14px 0;
    max-height: 64vh;
}

.table-head {
    background-color: blue;
}

.status-color {
    text-align: center;
    color: white;
    border-radius: 12px;
    padding: 2px;text-transform: uppercase;
}